.page__title {
  font-size: 50px;
  line-height: 65px;
  color: #2d2d2d;
  margin-bottom: 55px;
}

.info__text {
  font-size: 22px;
  line-height: 33px;
  color: #2d2d2d;
  margin-bottom: 50px;
}

.bold {
  font-weight: 700;
}